 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 601px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 67px;
  margin-bottom: 53px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 698px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-text-1 {
  margin: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 35px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 527px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-image-1 {
  width: 550px;
  height: 398px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 576px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 435px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-image-1 {
    width: 465px;
    height: 336px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 333px;
  }

  .u-section-1 .u-image-1 {
    width: 355px;
    height: 257px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 500px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-cell-2 {
    min-height: 315px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 246px;
  }
}